* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  /* My Styles */
  height: 100vh;
  display: grid;
  grid-template: 80px 60px 1fr 50px / minmax(200px, 1fr) 4fr;
  grid-template-areas: 
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer";
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  /* My Styles */
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  align-items: center;
}

/* My Styles */
.header .logo{
  justify-self: start;
}

/* My Styles */
.header .menu ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;

  /* My Styles */
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  align-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

/* My Styles */
.nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;

  /* My Styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  /* My Styles */
  grid-area: footer;
  display: grid;
  place-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}